
.box {
	border-radius: 5px;	
	padding: 3px 0px;
	width: 90%;	
}

.box-a {
	border-radius: 5px;	
	padding: 3px 0px;
}

.button {
	background-color: #008CBA; /* blue */	
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px 23px;
	font-size: 16px;
	text-decoration: none;
}	