.button {
	background-color: #008CBA; /* blue */	
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px 23px;
	font-size: 16px;
}	

.button-login {
	background-color: #008CBA; /* blue */	
	border: none;
	border-radius: 5px;
	color: white;
	padding: 15px 23px;
	font-size: 16px;
}	


.button-table-edit {
	background-color: #1ab2ff; /* blue */	
	border: none;
	border-radius: 4px;
	color: white;
	padding: 5px 23px;
	font-size: 15px;	
	text-decoration: none;
}

.button-table-hapus {
	background-color: #ff3333; /* red */	
	border: none;
	border-radius: 4px;
	color: white;
	padding: 5px 23px;
	font-size: 15px;	
	text-decoration: none;
}

.button-table-print {
	background-color: #33cc33; /* green */	
	border: none;
	border-radius: 4px;
	color: white;
	padding: 5px 23px;
	font-size: 15px;	
	text-decoration: none;
}

.box {
	border-radius: 5px;	
	padding: 3px 0px;
	width: 70%;	
}



.active {
	background-color: #1c6d28;
	color: white;
}