.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    background-color: #F06A0C;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #F06A0C;
}

.pagination a.active {
    background-color: #944107;
    color: white;
    border: 1px solid #944107;
}

.pagination a:hover:not(.active) {background-color: #944107;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
