
table {
	border-collapse: collapse;
	border: 1px solid gray;
}

td {
	padding: 6px;
}

th {
	padding: 6px;
	background-color: #008ab8; /* blue */
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

/*tr:hover{background-color:#9c9c9c}*/