table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 6px;
}

th {
	padding: 6px;
	background-color: #ff8834; /* orange */
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:hover{background-color:#9c9c9c}


