
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #2ead41; /* dark green */
	background-color: #F06A0C; /* dark orange */
}

li{
	display: inline;
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
    padding: 14px 16px;
    background-color: #F06A0C; /* dark orange */
    /*background-color: #2ead41; /* dark green */
    text-decoration: none;
}

li a:hover{
	/*background-color: #1c6d28; /* more dark green */
	background-color: #944107; /* more dark orange */
}

